/* Figma Styles of your File */
:root {
  /* Colors */
  --wwwfreshworkscom-amethyst: #9b65c3;
  --wwwfreshworkscom-amethyst: #bf63c6;
  --wwwfreshworkscom-astral: #3278b2;
  --wwwfreshworkscom-athens-gray: #ebeff2;
  --wwwfreshworkscom-black: #000000;
  --wwwfreshworkscom-brick-red: #d33c4e;
  --wwwfreshworkscom-bright-gray: #3f4551;
  --wwwfreshworkscom-bright-turquoise: #08c7fb;
  --wwwfreshworkscom-cerise-red: #da3757;
  --wwwfreshworkscom-conifer: #8bdf55;
  --wwwfreshworkscom-electric-violet: #8512e0;
  --wwwfreshworkscom-flamingo: #ee5a24;
  --wwwfreshworkscom-foam: #ebeff2;
  --wwwfreshworkscom-gold: #ffd600;
  --wwwfreshworkscom-malibu: #59f2f6;
  --wwwfreshworkscom-manatee: #8b909c;
  --wwwfreshworkscom-mountain-meadow: #2da771;
  --wwwfreshworkscom-mountain-meadow: #15cf74;
  --wwwfreshworkscom-navajo-white: #ffe0ae;
  --wwwfreshworkscom-padua: #bae8cc;
  --wwwfreshworkscom-picton-blue: #45a4ec;
  --wwwfreshworkscom-purple: #5b00cc;
  --wwwfreshworkscom-purple: #4200c4;
  --wwwfreshworkscom-sazerac: #ebeff2;
  --wwwfreshworkscom-shark: #1d2026;
  --wwwfreshworkscom-shuttle-gray: #5d6476;
  --wwwfreshworkscom-silver-chalice: #a6a6a6;
  --wwwfreshworkscom-trout: #505766;
  --wwwfreshworkscom-web-orange: #ff9c00;
  --wwwfreshworkscom-white: #ffffff;
  --wwwfreshworkscom-white: transparent;
  --wwwfreshworkscom-white-02: rgba(255, 255, 255, 0);
  --wwwfreshworkscom-white-ice: #e2f4fa;
  --wwwfreshworkscom-white-white: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);

  /* Fonts */
  --wwwfreshworkscom-roboto-bold-font-family: Roboto-Bold, sans-serif;
  --wwwfreshworkscom-roboto-bold-font-size: 18px;
  --wwwfreshworkscom-roboto-bold-line-height: 28px;
  --wwwfreshworkscom-roboto-bold-font-weight: 700;
  --wwwfreshworkscom-roboto-bold-font-style: normal;
  --wwwfreshworkscom-roboto-bold-font-family: Roboto-Bold, sans-serif;
  --wwwfreshworkscom-roboto-bold-font-size: 24px;
  --wwwfreshworkscom-roboto-bold-line-height: 32px;
  --wwwfreshworkscom-roboto-bold-font-weight: 700;
  --wwwfreshworkscom-roboto-bold-font-style: normal;
  --wwwfreshworkscom-roboto-bold-font-family: Roboto-Bold, sans-serif;
  --wwwfreshworkscom-roboto-bold-font-size: 24px;
  --wwwfreshworkscom-roboto-bold-line-height: 28px;
  --wwwfreshworkscom-roboto-bold-font-weight: 700;
  --wwwfreshworkscom-roboto-bold-font-style: normal;
  --wwwfreshworkscom-roboto-medium-font-family: Roboto-Medium, sans-serif;
  --wwwfreshworkscom-roboto-medium-font-size: 16px;
  --wwwfreshworkscom-roboto-medium-line-height: 24px;
  --wwwfreshworkscom-roboto-medium-font-weight: 500;
  --wwwfreshworkscom-roboto-medium-font-style: normal;
  --wwwfreshworkscom-roboto-medium-font-family: Roboto-Medium, sans-serif;
  --wwwfreshworkscom-roboto-medium-font-size: 18px;
  --wwwfreshworkscom-roboto-medium-line-height: 28px;
  --wwwfreshworkscom-roboto-medium-font-weight: 500;
  --wwwfreshworkscom-roboto-medium-font-style: normal;
  --wwwfreshworkscom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwfreshworkscom-roboto-regular-font-size: 12px;
  --wwwfreshworkscom-roboto-regular-line-height: 18px;
  --wwwfreshworkscom-roboto-regular-font-weight: 400;
  --wwwfreshworkscom-roboto-regular-font-style: normal;
  --wwwfreshworkscom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwfreshworkscom-roboto-regular-font-size: 14px;
  --wwwfreshworkscom-roboto-regular-line-height: 20px;
  --wwwfreshworkscom-roboto-regular-font-weight: 400;
  --wwwfreshworkscom-roboto-regular-font-style: normal;
  --wwwfreshworkscom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwfreshworkscom-roboto-regular-font-size: 16px;
  --wwwfreshworkscom-roboto-regular-line-height: 24px;
  --wwwfreshworkscom-roboto-regular-font-weight: 400;
  --wwwfreshworkscom-roboto-regular-font-style: normal;
  --wwwfreshworkscom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwfreshworkscom-roboto-regular-font-size: 18px;
  --wwwfreshworkscom-roboto-regular-line-height: 28px;
  --wwwfreshworkscom-roboto-regular-font-weight: 400;
  --wwwfreshworkscom-roboto-regular-font-style: normal;
  --wwwfreshworkscom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwfreshworkscom-roboto-regular-font-size: 24px;
  --wwwfreshworkscom-roboto-regular-line-height: 38px;
  --wwwfreshworkscom-roboto-regular-font-weight: 400;
  --wwwfreshworkscom-roboto-regular-font-style: normal;
  --wwwfreshworkscom-roboto-regular-underline-font-family: Roboto-Regular,
    sans-serif;
  --wwwfreshworkscom-roboto-regular-underline-font-size: 14px;
  --wwwfreshworkscom-roboto-regular-underline-line-height: 20px;
  --wwwfreshworkscom-roboto-regular-underline-font-weight: 400;
  --wwwfreshworkscom-roboto-regular-underline-font-style: normal;
  --wwwfreshworkscom-semantic-heading-1-font-family: Roboto-Bold, sans-serif;
  --wwwfreshworkscom-semantic-heading-1-font-size: 60px;
  --wwwfreshworkscom-semantic-heading-1-line-height: 72px;
  --wwwfreshworkscom-semantic-heading-1-font-weight: 700;
  --wwwfreshworkscom-semantic-heading-1-font-style: normal;
  --wwwfreshworkscom-semantic-heading-1-font-family: Roboto-Bold, sans-serif;
  --wwwfreshworkscom-semantic-heading-1-font-size: 60px;
  --wwwfreshworkscom-semantic-heading-1-line-height: 72px;
  --wwwfreshworkscom-semantic-heading-1-font-weight: 700;
  --wwwfreshworkscom-semantic-heading-1-font-style: normal;
  --wwwfreshworkscom-semantic-heading-2-font-family: Roboto-Bold, sans-serif;
  --wwwfreshworkscom-semantic-heading-2-font-size: 48px;
  --wwwfreshworkscom-semantic-heading-2-line-height: 60px;
  --wwwfreshworkscom-semantic-heading-2-font-weight: 700;
  --wwwfreshworkscom-semantic-heading-2-font-style: normal;
  --wwwfreshworkscom-semantic-small-font-family: Roboto-Regular, sans-serif;
  --wwwfreshworkscom-semantic-small-font-size: 13.300000190734863px;
  --wwwfreshworkscom-semantic-small-line-height: 24px;
  --wwwfreshworkscom-semantic-small-font-weight: 400;
  --wwwfreshworkscom-semantic-small-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-wwwfreshworkscom-mode="mode-1"] {
  /* mode-1 */
  --color-violet-40: #5b00cc;
  --color-violet-47: #8512e0;
  --color-azure-13: #1d2026;
  --color-white-solid: #ffffff;
  --color-violet-38: #4200c4;
  --color-black-solid: #000000;
  --color-violet-58: #9b65c3;
  --color-magenta-58: #bf63c6;
  --color-azure-45: #3278b2;
  --color-azure-60: #45a4ec;
  --color-spring-green-42: #2da771;
  --color-cyan-51: #08c7fb;
  --color-cyan-66: #59f2f6;
  --color-red-54: #da3757;
  --color-red-53: #d33c4e;
  --color-orange-54: #ee5a24;
  --color-chartreuse-green-60: #8bdf55;
  --color-spring-green-45: #15cf74;
  --color-orange-50: #ff9c00;
  --color-grey-94: #ebeff2;
  --color-azure-50: #00beff;
  --color-cyan-50: #00e3ff;
  --color-yellow-50: #ffd600;
  --color-red-61: #ff3a44;
  --color-rose-42: #c31162;
  --color-spring-green-41: #32a071;
  --color-spring-green-46: #06e775;
  --color-spring-green-47: #00f076;
  --color-grey-65: #a6a6a6;
  --color-azure-28: #3f4551;
  --color-white-02: rgba(255, 255, 255, 0);
  --color-azure-41: #5d6476;
  --color-azure-36: #505766;
  --color-orange-84: #ffe0ae;
  --color-spring-green-82: #bae8cc;
  --color-blue-8: #070624;
  --color-orange-50-40: rgba(255, 168, 0, 0.4);
  --color-spring-green-42-40: rgba(25, 187, 125, 0.4);
  --color-azure-40-40: rgba(0, 82, 204, 0.4);
  --color-azure-60-40: rgba(69, 164, 236, 0.4);
  --color-violet-69-40: rgba(184, 95, 255, 0.4);
  --color-blue-8-0: rgba(7, 6, 36, 0);
  --color-black-0: rgba(0, 0, 0, 0);
  --color-grey-93: #e2f4fa;
  --color-grey-93-0: rgba(226, 244, 250, 0);
  --color-grey-58: #8b909c;
}
